<div class="container fluid text-center">
  <h1 class="welcome">Welcome to Spinboard!</h1>
  <p class="landing-text"><span class="login-text"><%= link_to "Log In", "#" %></span> <u>or</u> <span class="signup-text"><%= link_to "Sign Up", new_user_path %></span></p>
</div>
