<div class="container fluid text-center landing-page">
  <p id="landing-text"><span class="login-text"><%= link_to "Log In", "#" %></span> <u>or</u> <span class="signup-text"><%= link_to "Sign Up", new_user_path %></span></p>
</div>
