<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to "Log Out", logout_path, method: :delete %>
  </div>
</nav>
<h4 class="container-fluid text-center page-header">Your Links</h4>

<h6>Add a New Link:</h6>
