<div class="navbar navbar-simple navbar-static-top">
	<div class="navbar-inner">
		<div>
      <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-default logout-btn" %>
	  </div>
	</div>
</div>

<nav class="container-fluid text-center">
  <h6 class="new-link">Add a New Link:</h6>
  <h4 class="page-header">Your Links</h4>
</nav>
