body {
  background-color: #391326;
}

.welcome {
  font-family: 'Shadows Into Light', cursive;
  margin-top: 100px;
  color: #b38600;
  font-size: 5em;
}

.landing-text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5em;
  color: #b38600;
  margin-top: 175px;
}

.login-text, .signup-text {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  font-size: 2em;
}
