body {
  background-color: #391326;
}

.alert-info {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.25em;
  color: #391326;
  background-color: #e6e6e6;
}

.welcome, .page-header {
  font-family: "Shadows Into Light", cursive;
  margin-top: 100px;
  color: #b38600;
  font-size: 5em;
}

.links-header {
  font-family: "Shadows Into Light", cursive;
  margin-top: 40px;
  color: #b38600;
  font-size: 5em;
}

.landing-text {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.5em;
  color: #b38600;
  margin-top: 175px;
}

.landing-btn {
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  font-size: 2em;
}

.form-text {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.75em;
  color: #b38600;
  margin-bottom: 100px;
}

.new-link {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.75em;
  color: #b38600;
}

.link-form {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.75em;
  color: #b38600;
  margin-top: 100px;
}

.submit-btn {
  border-radius: 10px;
  font-family: "Shadows Into Light", cursive;
  font-size: 1em;
  color: #391326;
  background-color: #e6e6e6;
  padding: 10px;
}

.navbar-simple .navbar-inner {
	background: #602040;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.logout-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.25em;
  color: #391326;
  background-color: #e6e6e6;
}

.link-submit-btn {
  margin-top: 10px;
  font-family: "Shadows Into Light", cursive;
  font-size: .8em;
  color: #391326;
  background-color: #e6e6e6;
}

table {
  background-color: white;
}

thead {
  font-family: "Shadows Into Light", cursive;
  font-size: 2em;
}

th {
  text-align: center;
}

tbody {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5em;
}
